* {
	box-sizing: border-box;
	font-family: 'EB Garamond', serif;
}

body {
	margin: 0;
	height: 100%;
	color: rgb(68, 40, 40)
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: , serif;
	font-weight: 700;
	font-style: normal;
}

h2 {
	font-weight: 500;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.italic {
	font-style: italic;
}

.link--underline {
	text-decoration: underline;
}

/*STYLING____________________________________________________________________________________________________________*/

nav {
	height: 3hv;

	.logo {
		
	}
}

.logo img {
	height: 2rem;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 97vh;
	background-color: rgb(238, 238, 228);
	
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.front-text {
	margin-bottom: 2em;
	font-size: large;
}

.links-container {
	flex-direction: row;
	width: 100%;
	text-align: center;

	.link {
		justify-content: center;
		text-align: center;		
	}
}

.link {
	font-style: italic;
	font-size: x-large;
	text-decoration: underline;
}

.SoMe {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 2.5em;
	gap: 1em;

	.SoMe__icon {
		font-size: 25px;
		color: rgb(68, 40, 40)
	}
}

li {
	font-family: futura-pt, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5rem;
}
.burger {
	display: none;
	cursor: pointer;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	height: 190px;
	bottom: 0;

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
	}
}

@media screen and (min-width: 768px) {
	.main {
		.page {
			padding: 0 104px 0 104px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.main {
		.page {
			padding: 0 250px 0 250px;
		}
	}
}

@media screen and (min-width: 1600px) {
	.main {
		.page {
			padding: 0 500px 0 500px;
		}
	}
}

@media screen and (min-width: 1920px) {
	.main {
		.page {
			padding: 0 600px 0 600px;
		}
	}
}